:root {
	--bg-color: #121212;
	--bg-color-2: #1E212B;
	--font-color: #ffffff;
}

body {
	background-color: var(--bg-color);
	color: var(--font-color);
}

a {
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: var(--font-color);
}

a:hover {
    text-decoration-line: none;
}

td > a:first-of-type {
    padding-left: 0;
}

.main-content {
    height: 100vh;
}

.row {
    height: 100vh;
}

.profile-pic {
    border-radius: 50%;
    border: 10px solid #FFFFFF;
    width: 100%;
    max-width: 70vh;
    max-height: 70vh;
}

/* Text content */

.flex-item {
    display: flex;
}

.name {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3.5em;
    line-height: 1em;
    letter-spacing: 0.07em;
}

.about {
    width: 85%;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9em;
    line-height: 1.5em;
}

.copyright {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.7em;
    line-height: 1.5em;
    color: #9A9999;
}

@media only screen and (max-width: 452px) {

  .name {
    font-size: 2.5em;
  }

  .text-content, .text-content > * {
    text-align: center;
  }

  .flex-item {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 0em;
  }

  a {
    padding-left: 0.95em;
    padding-right: 0.95em;
  }

  .fa {
    font-size: 1.1em!important;
  }
}